<nav>
    <div class="container">
        <div class="logo">
            <img [routerLink]="['books']" src="assets/books/book-icon.png" alt="Books logo">
        </div>
        <div class="desktop">
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}" [routerLink]="['books']">Home</li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}" [routerLink]="['favorites']">Favorites</li>
            </ul>
        </div>
    </div>
</nav>